*{
  margin: 0;
  padding: 0;
}
body{
  scroll-behavior: smooth;
}

.navbar{
  background-color: rgba(8, 8, 65, 1);
}

#nav{
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;
}

.navbar.active{
  position: fixed;
  animation: slideInTop 0.5s ease forwards;
}

.navbar ul li a{
    color: white;
    font-size: larger;
    font-weight: 900;
    font-family: Montserrat;
    margin-right: 20px;
}

.navbar ul li a:hover{
  color: rgba(255, 0, 0, 0.65);
}

#button{
    color: white;
    font-weight: bolder;
    font-family: Montserrat;
    margin-right: 20px;
}

.navbar-brand{
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin-left: 100px;
}

.home {
  background-image: url('../../hero-bg.jpg');
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.left-home{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding-left: 12vh;
  font-family: sans-serif;
  color: white;
}

.left-home h1{
  font-size: 3rem;
}
.left-home p{
  font-size: 1.5rem;
}

#quote {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
}

.vaccination_registration {
  width: 600px;
}
  
label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
  
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
  
  button[type="submit"] {
    /* background-color: #007bff;
    Blue color */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .register-btn{
    text-decoration: none;
    color: white;
    font-size: larger;
  }

  .register-btn:hover{
    text-decoration: none;
    color: white;
  }

  .left-home h1{
    margin-top: 30px;
  }

  .left-home p{
    padding-top: 30px;
  }

  
  @media screen and (max-width: 600px) {
    .vaccination_registration {
      width: 90%; 
    }
  
    .navigation-bar {
      flex-direction: column; 
    }
  
    .navigation-bar li {
      margin-bottom: 10px; 
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .vaccination_registration {
      width: 70%; 
    }
  }

  .covid-image{
    margin: 100px;
    padding: 30px;
    /* margin-left: 150px; */
    position: absolute;
    width: 500px;
    height: auto;
    animation: rotate 20s linear infinite;
    margin-bottom: 50px;
  }

  @keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }

  .about{
    background-color: rgba(8, 8, 65, 0.9);
    display: flex;
    /* margin-top: 40px; */
  }
  .banner1 {
    width: 50%;
    margin: 70px;
  }

  .about_content {
    max-width: 50%;
    margin: 70px;
    padding: 20px;
}

.main-content {
    text-align: left;
    margin-bottom: 30px;
}

.main-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.main-content p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

#subheading {
    color: #00e676;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.info-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-box img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%; 
    background-color: white;
}

.info-box h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: white;
}

.info-box p {
    margin: 5px 0 0 0;
    color: white; 
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(8, 8, 65, 0.9);; 
  color: #fff;
  margin: 0;
  padding: 0;
}

#symptoms{
  background-image: url('../../service-bg.jpg');
  width: 100%;
  /* margin-top: 15vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.symptoms-div{
   width: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* background-color: #ffffff; */
   padding: 2vh;
}
.sym-header{
   text-align: center;
   width: 55vw;
   font-family: sans-serif;
}
.sym-header h1{
  margin-top: 50px;
   font-size: 2.5rem;
   color: rgb(50, 205, 225);
   font-weight: bold;
   color: white;
}
.sym-header p{
  margin-top: 20px;
   font-size: 1.2rem;
   word-spacing: 2px;
   color: white;
}

.sym-body{
   width: 100%;
   display: flex;
   /* gap: 20vw; */
   flex-wrap: wrap;
   margin-top: 4vh;
   justify-content: space-evenly;
   gap: 20px;
   margin-bottom: 50px;
}
.sym-con{
  width: 60%;
  display: flex;
  /* justify-content: space-around; */
  width: 40vw;
  border: 2px solid black;
  padding: 2vh;
  /* background-color: var(--oxford-blue_50);
  padding: 20px;
  border-radius: var(--radius-6);
  transition: var(--transition-1); */
}

.sym-con:hover{
  background-color: var(--white);
  transform: translateY(-5px);
}

.sym-con .sym-con-img{
  width: 30%;
  margin-right: 10px;
}
.sym-con-img img{
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 50%;
  /* border-radius: 25%; */
  /* mix-blend-mode:multiply; */
  width: 70%; 
}
.sym-son-par{
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: sans-serif;

}
.sym-son-par h3{
   font-size: 1.8rem;
   color: white;
   font-weight: bold;
}
.sym-son-par p{
   font-size: 1.3rem;
   color: white;
}

.doctor{
  background-image: url('../../service-bg.jpg');
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-con .h2{
  color: white;
}

.main-con p{
  color: white;
}

.doctor-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.doctor-card .card{
  width: 350px;
  margin-bottom: 40px;
  margin-left: 50px;
  background-color: rgba(0,0,0,0.1);
}

.card-title{
  line-height: 10px;
}

.card-body{
  background-color: rgba(0,0,0,0.1);
  color: white;
}

.list-group .list-group-item{
  background-color: rgba(0,0,0,0.1);
  color: white;
}

/*SAFETY SECTION*/

.safety{
  background-color: #080841;
  color: white;
}

.main-safety{
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 10px;
}

.con-safety img{
  border-radius: 50%;
  overflow: hidden;
}

.row1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sbrow1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.row2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row3{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.blog{
  background-color: rgb(45, 45, 122);
  color: white;
}

.blog-main{
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 10px;
}

.blog-main .h2{
  font-weight: bolder;
  font-size: 30px;
}

.bcard{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.bcard .blog-card{
  width: 350px;
  margin-bottom: 40px;
  margin-left: 50px;
  background-color: rgba(0,0,0,0.1);
}

.list-group{
  justify-content: left;
  text-align: left;
}

.blog-card a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/*FOOTER DESIGNING*/
.footer {
  background-color: #04395e; /* Dark blue color for footer */
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc; /* Thin top border */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
